@import "../../mixin&variable/variable";

.black {
    background: $dark-color;
    color: white;
}
.white {
    background-color: white;
    color: $dark-color;
}
.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.thinest-text {
    font-size: 15px;
    color: $gray-color;
    font-weight: 400;
    line-height: 24.38px;
}
.thin-text {
    margin-top: 10px;
    font-size: 20px;
    color: $gray-color;
    font-weight: 400;

    line-height: 24.38px;
}
.normal-text {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}
.bold-text {
    font-weight: 700;
    font-size: 30px;
}
.main-text {
    font-size: 36px;
    font-weight: 700;
}
.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #e6e6e6;
    transition: background-color ease 0.3s;
}
.toggle:before {
    content: " ";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: $gray-color;
    left: 2px;
    top: 2px;
    border-radius: 50%;

    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
.toggle:checked::before {
    background: $light-blue;
}
.toggle:checked:before {
    left: 32px;
}
.main {
    width: 100%;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
}


@import '../../component/sheme-block-main';

@import '../../component/description-block-main';

@import '../../component/price-block-main';

@import '../../component/portfolio-block-main.scss';

@import '../../component/contacts-block-main';