.contacts-block {
    scroll-margin-top: 50px;
    margin-bottom: 40px;
    &__feedback-menu {
        display: flex;
        gap: 120px;
    }
    &__left-block {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 50%;
    }
    &__right-block {
        margin-top: 40px;
        border-radius: 20px;
        border: 1px solid #c4c4c4;
        width: 50%;
        padding-bottom: 40px;
        height: 100%;
    }
    &__price {
        margin: 0 auto;
    }
    &__image-wrapper {
        background-color: #000000;
        border-radius: 20px 20px 0 0;
        display: flex;
        height: 380px;
    }
    &__image {
        padding-top: 20px;
        width: 340px;
        height: 340px;
        border-radius: 20px 20px 0 0;
        margin: 0 auto;
    }
    &__text-wrapper {
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
    }
    &__contact-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        &-block {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 5px;
        }
    }
    &__main-text {
        font-size: 24px;
    }
    .flag-country {
        width: 27px;
        height: 22px;
        pointer-events: none;
    }
    .under-phone-text {
        display: none;
        position: absolute;

        font-size: 10px;
        font-weight: 400;

        padding-left: 93px;
        margin-top: 45px;
    }
    .telegram-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 100%;
        height: 80px;
        background-color: $gray-blue;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border-radius: 90px;
        @include shadowHover(0.2s, 0px 4px 15px 0px, $gray-blue, pointer);
    }
    .whatsapp-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        height: 80px;
        background-color: $light-lime;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border-radius: 90px;
        @include shadowHover(0.2s, 0px 4px 15px 0px, $light-lime, pointer);
    }
    .input-feedback {
        width: calc(100% - 45px);
        padding-right: 20px;
        padding-left: 20px;
        height: 60px;
        border: 1px solid #c8c8c8;
        border-radius: 90px;
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    .input-feedback::placeholder {
        color: rgb(129, 129, 129);
    }
    .input-feedback-phone {
        width: 100%;
        height: 60px;

        padding-right: 20px;

        border: none;
        border-radius: 0 95px 95px 0;

        font-size: 20px;
        color: rgb(0, 0, 0);
        background-color: transparent;
    }
    .input-feedback-phone::placeholder {
        color: rgb(129, 129, 129);
    }
    .input-feedback-phone:active,
    :hover,
    :focus {
        outline: 0;
        outline-offset: 0;
    }
    .input-feedback-select {
        padding-left: 20px;
        height: 66px;
        border: 1px solid #c8c8c8;
        border-radius: 90px;
        font-size: 20px;
        appearance: none;
        background-image: url("../assets/decor/angle-right.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 30px);
        @include ColorHover(0.2s, "bgcol", #22d46600, pointer);
    }
    .textaria-feedback-сomment {
        border-radius: 10px;
        padding-left: 20px;
        padding-top: 20px;
        height: 100px;
        width: calc(100% - 25px);
        border: 1px solid #c8c8c8;
        font-size: 20px;
        color: rgb(0, 0, 0);
        resize: none;
    }
    .textaria-feedback-сomment::placeholder {
        color: rgb(129, 129, 129);
    }
    .chek-box-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 97%;
    }
    .submit-button {
        width: 100%;
        height: 80px;
        border-radius: 90px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        background-color: $dark-color;
        border: none;
        @include shadowHover(0.2s, 0px 4px 15px 0px, $dark-color, pointer);
    }
}
