@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

.cap {
  color: #FFFFFF;
  background: linear-gradient(108.16deg, #1D1D1B 47.87%, #61187B 100%);
  width: 100%;
  height: 100vh;
}
.cap .cap__wrapper {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
.cap .cap__wrapper .top-menu {
  padding: 20px 0 20px 0;
  background-color: #1A1A1A;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}
.cap .cap__wrapper .top-menu__wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cap .cap__wrapper .top-menu__logotype {
  width: 130px;
  height: 24px;
}
.cap .cap__wrapper .top-menu__navigation ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
}
.cap .cap__wrapper .top-menu__navigation ul li {
  font-size: 10px;
  font-weight: 300;
}
.cap .cap__wrapper .top-menu__navigation a {
  color: #FFFFFF;
  font-size: 17px;
  text-decoration: none;
}
.cap .cap__wrapper .top-menu__navigation a {
  cursor: default;
  transition: 0.2s;
}
.cap .cap__wrapper .top-menu__navigation a:hover {
  cursor: pointer;
  color: #2CDEF5;
}
.cap .cap__wrapper .top-menu__contacts {
  display: flex;
  gap: 10px;
}
.cap .cap__wrapper .top-menu__contacts img {
  cursor: default;
  transition: 0.2s;
}
.cap .cap__wrapper .top-menu__contacts img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.cap .cap__wrapper .top-menu__contacts img:hover {
  transform: scale(1.2);
}
.cap .cap__wrapper .middle-menu {
  display: flex;
  height: 80%;
  padding-top: 70px;
}
.cap .cap__wrapper .middle-menu__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 55%;
  padding-top: 155px;
}
.cap .cap__wrapper .middle-menu__left h1 {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 1px;
}
.cap .cap__wrapper .middle-menu__left h1 img {
  padding-left: 35px;
  vertical-align: middle;
  width: 75px;
  height: 45px;
}
.cap .cap__wrapper .middle-menu__left p {
  width: 580px;
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
}
.cap .cap__wrapper .middle-menu__right {
  width: 45%;
}
.cap .cap__wrapper .middle-menu__right img {
  height: 552px;
  width: 533px;
  margin-top: 60px;
  margin-left: 20px;
}
.cap .cap__wrapper .middle-menu__main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2CDEF5;
  height: 75px;
  width: 300px;
  border-radius: 84px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  border: none;
}
.cap .cap__wrapper .middle-menu__main-button {
  transition: 0.2s;
}
.cap .cap__wrapper .middle-menu__main-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px #2CDEF5;
}

.black {
  background: #1D1D1B;
  color: white;
}

.white {
  background-color: white;
  color: #1D1D1B;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.thinest-text {
  font-size: 15px;
  color: #575757;
  font-weight: 400;
  line-height: 24.38px;
}

.thin-text {
  margin-top: 10px;
  font-size: 20px;
  color: #575757;
  font-weight: 400;
  line-height: 24.38px;
}

.normal-text {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
  font-size: 30px;
}

.main-text {
  font-size: 36px;
  font-weight: 700;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #E6E6E6;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #575757;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked::before {
  background: #2CDEF5;
}

.toggle:checked:before {
  left: 32px;
}

.main {
  width: 100%;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.scheme-block {
  padding-top: 100px;
  padding-bottom: 90px;
}
.scheme-block__roadmap .table__text {
  font-size: 36px;
  font-weight: 700;
}
.scheme-block__roadmap .table__wrapper {
  margin-top: 60px;
  display: flex;
  gap: 35px;
}
.scheme-block__roadmap .table__left {
  padding-top: 10px;
}
.scheme-block__roadmap .table__right {
  width: calc(100% - 0px);
  display: flex;
  flex-direction: column;
}
.scheme-block__roadmap .table__right .content-one {
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-two {
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-three {
  width: 90%;
  height: 95px;
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-four {
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-five {
  width: 86%;
  margin-bottom: 40px;
}

.description-block {
  padding-top: 100px;
  height: 600px;
}
.description-block .second-text {
  font-size: 20px;
  margin-top: 40px;
  font-weight: 400;
}
.description-block__menu-card {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.description-block .card {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: wrap;
}
.description-block .card__img {
  width: 50px;
  height: 50px;
}
.description-block .card__text {
  font-size: 30px;
}
.description-block .card h2 {
  margin-top: 0;
}

.price-block {
  padding-top: 100px;
  height: 800px;
}
.price-block__menu {
  display: flex;
  justify-content: space-between;
}
.price-block__card {
  border: 1px solid #8B8B8B;
  border-radius: 20px;
  width: 28%;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}
.price-block__btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #1D1D1B;
  border: none;
  border-radius: 90px;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.price-block__btn-buy {
  transition: 0.2s;
}
.price-block__btn-buy:hover {
  cursor: pointer;
  box-shadow: #1D1D1B 0px 4px 15px 0px;
}
.price-block__card-unit-top {
  height: 140px;
}
.price-block__card-unit-middle {
  height: 300px;
}
.price-block__card-unit-bottom {
  padding-top: 20px;
}
.price-block .list {
  margin-top: 30px;
  list-style-type: none;
}
.price-block .list li {
  color: #575757;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.price-block .list__element::before {
  content: url("../assets/decor/check.svg");
  margin-right: 15px;
  color: white;
  color: #2CDEF5;
}

.portfolio-block {
  padding-top: 100px;
  height: 700px;
  background: #1D1D1B;
  color: white;
}
.portfolio-block__slaid-menu {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.portfolio-block__arrow-menu {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.portfolio-block__arrow-menu #leftArrow, .portfolio-block__arrow-menu #rightArrow {
  background-color: transparent;
  border: none;
  padding: 0;
}
.portfolio-block__arrow-menu img {
  margin: 3px;
  width: 40px;
}
.portfolio-block__arrow-menu img {
  cursor: default;
  transition: 0.2s;
}
.portfolio-block__arrow-menu img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.portfolio-block__arrow-menu img:hover {
  transform: scale(1.2);
}
.portfolio-block .slaid-card {
  background-color: white;
  border-radius: 25px 25px 20px 20px;
  width: 50%;
}
.portfolio-block .slaid-card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.portfolio-block .slaid-card .unit {
  width: 80%;
}
.portfolio-block .slaid-card__wrapper-elem {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
}
.portfolio-block .slaid-card__wrapper-elem img {
  width: 40px;
  margin: 9px;
}
.portfolio-block .slaid-card__wrapper-elem img {
  cursor: default;
  transition: 0.2s;
}
.portfolio-block .slaid-card__wrapper-elem img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.portfolio-block .slaid-card__wrapper-elem img:hover {
  transform: scale(1.2);
}
.portfolio-block .slaid-card__text {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
}

.contacts-block {
  margin-bottom: 40px;
}
.contacts-block__feedback-menu {
  display: flex;
  gap: 120px;
}
.contacts-block__left-block {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}
.contacts-block__right-block {
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  width: 50%;
  padding-bottom: 40px;
  height: 100%;
}
.contacts-block__price {
  margin: 0 auto;
}
.contacts-block__image-wrapper {
  background-color: #000000;
  border-radius: 20px 20px 0 0;
  display: flex;
  height: 380px;
}
.contacts-block__image {
  padding-top: 20px;
  width: 340px;
  height: 340px;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}
.contacts-block__text-wrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
.contacts-block__contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contacts-block__main-text {
  font-size: 24px;
}
.contacts-block .telegram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 80px;
  background-color: #5288C1;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 90px;
}
.contacts-block .telegram-button {
  transition: 0.2s;
}
.contacts-block .telegram-button:hover {
  cursor: pointer;
  box-shadow: #5288C1 0px 4px 15px 0px;
}
.contacts-block .whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background-color: #22D466;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 90px;
}
.contacts-block .whatsapp-button {
  transition: 0.2s;
}
.contacts-block .whatsapp-button:hover {
  cursor: pointer;
  box-shadow: #22D466 0px 4px 15px 0px;
}
.contacts-block .input-feedback {
  padding-right: 20px;
  padding-left: 20px;
  height: 60px;
  border: 1px solid #C8C8C8;
  border-radius: 90px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.contacts-block .input-feedback::-moz-placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .input-feedback::placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .input-feedback-select {
  padding-left: 20px;
  height: 66px;
  border: 1px solid #C8C8C8;
  border-radius: 90px;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/decor/angle-right.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px);
}
.contacts-block .input-feedback-select {
  cursor: default;
  transition: 0.2s;
}
.contacts-block .input-feedback-select:hover {
  cursor: pointer;
  background-color: rgba(34, 212, 102, 0);
}
.contacts-block .textaria-feedback-сomment {
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  height: 100px;
  width: calc(100% - 25px);
  border: 1px solid #C8C8C8;
  font-size: 20px;
  color: rgb(0, 0, 0);
  resize: none;
}
.contacts-block .textaria-feedback-сomment::-moz-placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .textaria-feedback-сomment::placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .chek-box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97%;
}
.contacts-block .submit-button {
  width: 100%;
  height: 80px;
  border-radius: 90px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #1D1D1B;
  border: none;
}
.contacts-block .submit-button {
  transition: 0.2s;
}
.contacts-block .submit-button:hover {
  cursor: pointer;
  box-shadow: #1D1D1B 0px 4px 15px 0px;
}

.footer {
  background-color: black;
  color: white;
  height: 285px;
}
.footer__top-menu {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__top-menu img {
  cursor: default;
  transition: 0.2s;
}
.footer__top-menu img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.footer__top-menu img:hover {
  transform: scale(1.2);
}
.footer__top-menu a {
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.footer__top-menu a {
  cursor: default;
  transition: 0.2s;
}
.footer__top-menu a:hover {
  cursor: pointer;
  color: #2CDEF5;
}
.footer__bottom-menu {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.footer__info-text {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.footer .top-menu-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer hr {
  margin-top: 60px;
  width: 100%;
  border: 1px solid #4F4F4F;
}/*# sourceMappingURL=style.css.map */