@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

.top-menu__popup--button {
  display: none;
}

.top-menu__popup {
  display: none;
}

.cap {
  color: #FFFFFF;
  background: linear-gradient(108.16deg, #1D1D1B 47.87%, #61187B 100%);
  width: 100%;
  height: 100vh;
}
.cap .cap__wrapper {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
.cap .cap__wrapper .top-menu {
  padding: 20px 0 20px 0;
  background-color: #1A1A1A;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
}
.cap .cap__wrapper .top-menu__wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cap .cap__wrapper .top-menu__logotype {
  width: 130px;
  height: 24px;
}
.cap .cap__wrapper .top-menu__navigation ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
}
.cap .cap__wrapper .top-menu__navigation ul li {
  font-size: 10px;
  font-weight: 300;
}
.cap .cap__wrapper .top-menu__navigation a {
  color: #FFFFFF;
  font-size: 17px;
  text-decoration: none;
}
.cap .cap__wrapper .top-menu__navigation a {
  cursor: default;
  transition: 0.2s;
}
.cap .cap__wrapper .top-menu__navigation a:hover {
  cursor: pointer;
  color: #2CDEF5;
}
.cap .cap__wrapper .top-menu__contacts {
  display: flex;
  gap: 10px;
}
.cap .cap__wrapper .top-menu__contacts img {
  cursor: default;
  transition: 0.2s;
}
.cap .cap__wrapper .top-menu__contacts img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.cap .cap__wrapper .top-menu__contacts img:hover {
  transform: scale(1.2);
}
.cap .cap__wrapper .middle-menu {
  display: flex;
  height: 80%;
  padding-top: 70px;
}
.cap .cap__wrapper .middle-menu__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 55%;
  padding-top: 155px;
}
.cap .cap__wrapper .middle-menu__left h1 {
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 1px;
}
.cap .cap__wrapper .middle-menu__left h1 img {
  padding-left: 35px;
  vertical-align: middle;
  width: 75px;
  height: 45px;
}
.cap .cap__wrapper .middle-menu__left p {
  width: 580px;
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
}
.cap .cap__wrapper .middle-menu__right {
  width: 45%;
}
.cap .cap__wrapper .middle-menu__right img {
  height: 552px;
  width: 533px;
  margin-top: 60px;
  margin-left: 20px;
}
.cap .cap__wrapper .middle-menu__main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2CDEF5;
  height: 75px;
  width: 300px;
  border-radius: 84px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  border: none;
}
.cap .cap__wrapper .middle-menu__main-button {
  transition: 0.2s;
}
.cap .cap__wrapper .middle-menu__main-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px #2CDEF5;
}

.black {
  background: #1D1D1B;
  color: white;
}

.white {
  background-color: white;
  color: #1D1D1B;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.thinest-text {
  font-size: 15px;
  color: #575757;
  font-weight: 400;
  line-height: 24.38px;
}

.thin-text {
  margin-top: 10px;
  font-size: 20px;
  color: #575757;
  font-weight: 400;
  line-height: 24.38px;
}

.normal-text {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
  font-size: 30px;
}

.main-text {
  font-size: 36px;
  font-weight: 700;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e6e6e6;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #575757;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked::before {
  background: #2CDEF5;
}

.toggle:checked:before {
  left: 32px;
}

.main {
  width: 100%;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.scheme-block {
  padding-top: 100px;
  padding-bottom: 90px;
}
.scheme-block__roadmap .table__text {
  font-size: 36px;
  font-weight: 700;
}
.scheme-block__roadmap .table__wrapper {
  margin-top: 60px;
  display: flex;
  gap: 35px;
}
.scheme-block__roadmap .table__left {
  padding-top: 10px;
}
.scheme-block__roadmap .table__right {
  width: calc(100% - 0px);
  display: flex;
  flex-direction: column;
}
.scheme-block__roadmap .table__right .content-one {
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-two {
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-three {
  width: 90%;
  height: 95px;
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-four {
  margin-bottom: 40px;
}
.scheme-block__roadmap .table__right .content-five {
  width: 86%;
  margin-bottom: 40px;
}

.description-block {
  padding-top: 100px;
  height: 600px;
}
.description-block .second-text {
  font-size: 20px;
  margin-top: 40px;
  font-weight: 400;
}
.description-block__menu-card {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.description-block .card {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: wrap;
}
.description-block .card__img {
  width: 50px;
  height: 50px;
}
.description-block .card__text {
  font-size: 30px;
}
.description-block .card h2 {
  margin-top: 0;
}

.price-block {
  padding-top: 100px;
  height: 800px;
}
.price-block__menu {
  display: flex;
  justify-content: space-between;
}
.price-block__card {
  border: 1px solid #8b8b8b;
  border-radius: 20px;
  width: 28%;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}
.price-block__btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #1D1D1B;
  border: none;
  border-radius: 90px;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.price-block__btn-buy {
  transition: 0.2s;
}
.price-block__btn-buy:hover {
  cursor: pointer;
  box-shadow: #1D1D1B 0px 4px 15px 0px;
}
.price-block__card-unit-top {
  height: 140px;
}
.price-block__card-unit-middle {
  height: 300px;
}
.price-block__card-unit-bottom {
  padding-top: 20px;
}
.price-block .list {
  margin-top: 30px;
  list-style-type: none;
}
.price-block .list li {
  color: #575757;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.price-block .list__element::before {
  content: url("../assets/decor/check.svg");
  margin-right: 15px;
  color: white;
  color: #2CDEF5;
}

.portfolio-block {
  padding-top: 100px;
  height: 700px;
  background: #1D1D1B;
  color: white;
}
.portfolio-block__slaid-menu {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.portfolio-block__arrow-menu {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.portfolio-block__arrow-menu #leftArrow,
.portfolio-block__arrow-menu #rightArrow {
  background-color: transparent;
  border: none;
  padding: 0;
}
.portfolio-block__arrow-menu img {
  margin: 3px;
  width: 40px;
}
.portfolio-block__arrow-menu img {
  cursor: default;
  transition: 0.2s;
}
.portfolio-block__arrow-menu img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.portfolio-block__arrow-menu img:hover {
  transform: scale(1.2);
}
.portfolio-block .slaid-card {
  background-color: white;
  border-radius: 25px 25px 20px 20px;
  width: 50%;
}
.portfolio-block .slaid-card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.portfolio-block .slaid-card .unit {
  width: 80%;
}
.portfolio-block .slaid-card__wrapper-elem {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
}
.portfolio-block .slaid-card__wrapper-elem img {
  width: 40px;
  margin: 9px;
}
.portfolio-block .slaid-card__wrapper-elem img {
  cursor: default;
  transition: 0.2s;
}
.portfolio-block .slaid-card__wrapper-elem img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.portfolio-block .slaid-card__wrapper-elem img:hover {
  transform: scale(1.2);
}
.portfolio-block .slaid-card__text {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
}

.contacts-block {
  margin-bottom: 40px;
}
.contacts-block__feedback-menu {
  display: flex;
  gap: 120px;
}
.contacts-block__left-block {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}
.contacts-block__right-block {
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  width: 50%;
  padding-bottom: 40px;
  height: 100%;
}
.contacts-block__price {
  margin: 0 auto;
}
.contacts-block__image-wrapper {
  background-color: #000000;
  border-radius: 20px 20px 0 0;
  display: flex;
  height: 380px;
}
.contacts-block__image {
  padding-top: 20px;
  width: 340px;
  height: 340px;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}
.contacts-block__text-wrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
.contacts-block__contact-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contacts-block__main-text {
  font-size: 24px;
}
.contacts-block .flag-country {
  width: 27px;
  height: 22px;
  pointer-events: none;
}
.contacts-block .under-phone-text {
  display: none;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  padding-left: 93px;
  margin-top: 45px;
}
.contacts-block .telegram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 80px;
  background-color: #5288C1;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 90px;
}
.contacts-block .telegram-button {
  transition: 0.2s;
}
.contacts-block .telegram-button:hover {
  cursor: pointer;
  box-shadow: #5288C1 0px 4px 15px 0px;
}
.contacts-block .whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background-color: #22D466;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 90px;
}
.contacts-block .whatsapp-button {
  transition: 0.2s;
}
.contacts-block .whatsapp-button:hover {
  cursor: pointer;
  box-shadow: #22D466 0px 4px 15px 0px;
}
.contacts-block .input-feedback {
  width: calc(100% - 45px);
  padding-right: 20px;
  padding-left: 20px;
  height: 60px;
  border: 1px solid #c8c8c8;
  border-radius: 90px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.contacts-block .input-feedback::-moz-placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .input-feedback::placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .input-feedback-phone {
  width: 100%;
  height: 60px;
  padding-right: 20px;
  border: none;
  border-radius: 0 95px 95px 0;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.contacts-block .input-feedback-phone::-moz-placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .input-feedback-phone::placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .input-feedback-phone:active, .contacts-block :hover, .contacts-block :focus {
  outline: 0;
  outline-offset: 0;
}
.contacts-block .input-feedback-select {
  padding-left: 20px;
  height: 66px;
  border: 1px solid #c8c8c8;
  border-radius: 90px;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../assets/decor/angle-right.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px);
}
.contacts-block .input-feedback-select {
  cursor: default;
  transition: 0.2s;
}
.contacts-block .input-feedback-select:hover {
  cursor: pointer;
  background-color: rgba(34, 212, 102, 0);
}
.contacts-block .textaria-feedback-сomment {
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  height: 100px;
  width: calc(100% - 25px);
  border: 1px solid #c8c8c8;
  font-size: 20px;
  color: rgb(0, 0, 0);
  resize: none;
}
.contacts-block .textaria-feedback-сomment::-moz-placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .textaria-feedback-сomment::placeholder {
  color: rgb(129, 129, 129);
}
.contacts-block .chek-box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97%;
}
.contacts-block .submit-button {
  width: 100%;
  height: 80px;
  border-radius: 90px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #1D1D1B;
  border: none;
}
.contacts-block .submit-button {
  transition: 0.2s;
}
.contacts-block .submit-button:hover {
  cursor: pointer;
  box-shadow: #1D1D1B 0px 4px 15px 0px;
}

.footer {
  background-color: black;
  color: white;
  height: 285px;
}
.footer__top-menu {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__top-menu img {
  cursor: default;
  transition: 0.2s;
}
.footer__top-menu img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.footer__top-menu img:hover {
  transform: scale(1.2);
}
.footer__top-menu a {
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.footer__top-menu a {
  cursor: default;
  transition: 0.2s;
}
.footer__top-menu a:hover {
  cursor: pointer;
  color: #2CDEF5;
}
.footer__bottom-menu {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.footer__info-text {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.footer .top-menu-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer hr {
  margin-top: 60px;
  width: 100%;
  border: 1px solid #4F4F4F;
}

@media screen and (max-width: 1600px) {
  .portfolio-block {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 34px;
    height: auto;
  }
  .portfolio-block .wrapper {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .portfolio-block__slaid-menu {
    display: inline-flex;
    gap: 30px;
  }
  .portfolio-block .slaid-card {
    width: 585px;
    height: 420px;
  }
  .portfolio-block .FirstCard {
    order: 2;
  }
}
@media screen and (max-width: 1440px) {
  header .cap .cap__wrapper {
    width: 83.3% !important;
  }
  header .cap .cap__wrapper .top-menu .top-menu__wrapper {
    width: 83.3vw;
    margin-right: auto;
    overflow: hidden;
    margin-left: auto;
  }
  .wrapper {
    margin-right: auto;
    overflow: hidden;
    width: 83.3vw;
    margin-left: auto;
  }
  .portfolio-block {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 34px;
    height: auto;
  }
  .portfolio-block .wrapper {
    margin-left: 148px;
    margin-right: auto;
    overflow: hidden;
    width: 83.3vw;
    margin-left: auto;
  }
  .portfolio-block__slaid-menu {
    display: inline-flex;
    gap: 30px;
  }
  .portfolio-block .slaid-card {
    width: 585px;
    height: 420px;
  }
  .FirstCard {
    order: 2;
  }
}
@media screen and (max-width: 1024px) {
  header .cap {
    overflow-x: hidden;
  }
  header .cap .cap__wrapper {
    width: 84.37%;
  }
  header .cap .cap__wrapper .top-menu__wrapper {
    width: 84.37%;
  }
  header .cap .cap__wrapper .top-menu__navigation ul {
    gap: 12px;
  }
  header .cap .cap__wrapper .top-menu__navigation ul li {
    font-size: 16px;
  }
  header .cap .cap__wrapper .middle-menu__left {
    width: 613px;
    padding-top: 134px;
  }
  header .cap .cap__wrapper .middle-menu__left h1 {
    font-size: 48px;
  }
  header .cap .cap__wrapper .middle-menu__right img {
    margin-top: 69px;
  }
  main {
    width: 1024px;
  }
  main .wrapper {
    margin: 0;
    width: 71vw;
    margin-right: auto;
    margin-left: auto;
  }
  .scheme-block {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 54px;
    width: 84vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .scheme-block img {
    height: 562px;
  }
  .description-block {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 43px;
    height: auto;
  }
  .description-block .wrapper {
    width: 84vw;
    margin-right: auto;
    margin-left: auto;
  }
  .description-block .wrapper h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.88px;
    text-align: left;
  }
  .description-block .wrapper h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
  }
  .description-block__menu-card {
    margin-top: 78px;
    padding-bottom: 65px;
  }
  .description-block__menu-card .card img {
    padding-left: 97px;
  }
  .description-block__menu-card .card h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 29.26px;
  }
  .description-block__menu-card .card h2 {
    font-family: Montserrat;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
  }
  .price-block {
    width: 71vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .price-block__menu {
    width: 71vw;
    gap: 25px 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .price-block__card {
    flex: 1;
    margin: auto;
    max-width: 335px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .price-block .price-block__card-unit-top {
    text-align: center;
    margin-top: 37px;
  }
  .price-block .card-unit-name {
    text-align: center;
    font-weight: 700;
    line-height: 29.26px;
    font-size: 24px;
    margin-top: 37px;
  }
  .price-block .thin-text {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    font-size: 16px;
    padding: 0 52px;
    margin-top: 20px;
  }
  .price-block__card-unit-middle {
    padding-left: 62px;
    height: auto;
    margin-bottom: 0;
    margin-top: 18px;
  }
  .price-block__card-unit-middle .list .list__element {
    font-family: Montserrat;
    font-size: 14.85px;
    font-weight: 500;
    line-height: 18.1px;
    text-align: left;
    color: rgb(87, 87, 87);
  }
  .price-block__card-unit-bottom {
    text-align: center;
    margin-top: 18px;
    padding-top: 0;
  }
  .price-block__card-unit-bottom h1 {
    font-family: Montserrat;
    font-size: 23.76px;
    font-weight: 700;
    line-height: 28.96px;
  }
  .price-block__card-unit-bottom a {
    width: 240px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
  }
  .portfolio-block {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 34px;
    height: auto;
  }
  .portfolio-block .wrapper {
    overflow: hidden;
    margin: 0;
    width: 71vw;
    margin-right: auto;
    margin-left: auto;
  }
  .portfolio-block__slaid-menu {
    display: inline-flex;
    gap: 100px;
  }
  .portfolio-block .slaid-card {
    width: 727px;
    height: 455px;
  }
  .portfolio-block .slaid-card .slaid-card__img {
    height: 311px;
  }
  .portfolio-block .slaid-card__text {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    line-height: 29.26px;
  }
  .portfolio-block .slaid-card .thin-text {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 24.38px;
  }
  .portfolio-block .slaid-card__wrapper-elem {
    padding-top: 0;
    margin-top: 29px;
  }
  .portfolio-block__arrow-menu {
    margin-top: 18px;
  }
  .portfolio-block__arrow-menu #rightArrow {
    margin-right: 35px;
  }
  .contacts-block {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .contacts-block .wrapper {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-block__feedback-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-block .contacts-block__left-block {
    order: 2;
    flex: 1;
    margin: auto;
    width: 562px;
    text-align: center;
  }
  .contacts-block .contacts-block__left-block button {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 80px;
  }
  .contacts-block .contacts-block__right-block {
    order: 1;
    width: 71vw;
    height: 808px;
  }
  .contacts-block .contacts-block__right-block .contacts-block__image-wrapper {
    height: 400px;
  }
  .contacts-block .contacts-block__right-block .contacts-block__text-wrapper {
    width: auto;
    margin-left: 130px;
    margin-right: 130px;
  }
  footer {
    width: 100%;
  }
  footer .wrapper {
    width: 85.5%;
    margin-left: auto;
    margin-right: auto;
  }
  footer .wrapper hr {
    margin-top: 43px;
    margin-bottom: 0;
  }
  footer .footer__top-menu {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 22px;
  }
  footer .footer__bottom-menu {
    padding-top: 0;
    margin-top: 45px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  header .cap {
    height: 742px;
    overflow: hidden;
  }
  header .cap .cap__wrapper .top-menu__navigation {
    display: none;
  }
  header .cap .cap__wrapper .top-menu__contacts {
    margin-left: 300px;
  }
  header .cap .cap__wrapper .top-menu__wrapper #popup--button {
    display: block;
    background: none;
    border: none;
  }
  header .cap .cap__wrapper .top-menu__popup {
    display: block;
    overflow: hidden;
  }
  header .cap .cap__wrapper .top-menu__popup--header {
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-top: 30px;
  }
  header .cap .cap__wrapper .top-menu__popup--header a {
    margin-left: 241px;
    width: 286px;
    font-size: 40px;
    text-align: center;
  }
  header .cap .cap__wrapper .top-menu__popup--header a img {
    width: 286px;
    height: 48px;
  }
  header .cap .cap__wrapper .top-menu__popup--header button {
    display: block;
    background: none;
    border: none;
    margin-left: 86px;
  }
  header .cap .cap__wrapper .top-menu__popup--header button img {
    width: 78px;
    height: 78px;
  }
  header .cap .cap__wrapper .top-menu__popup--navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgb(25, 25, 25);
  }
  header .cap .cap__wrapper .top-menu__popup--navigation ul {
    display: grid;
    gap: 27px;
    margin-top: 100px;
  }
  header .cap .cap__wrapper .top-menu__popup--navigation ul li {
    display: grid;
    list-style-type: none;
    justify-content: center;
  }
  header .cap .cap__wrapper .top-menu__popup--navigation ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 40.55px;
  }
  header .cap .cap__wrapper .top-menu__popup--contacts {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 80px;
  }
  header .cap .cap__wrapper .top-menu__popup--contacts img {
    width: 85px;
    height: 85px;
  }
  header .cap .cap__wrapper .middle-menu__left {
    margin-top: 58px;
    padding: 0;
  }
  header .cap .cap__wrapper .middle-menu__left h1 {
    font-size: 46px;
    line-height: 50px;
  }
  header .cap .cap__wrapper .middle-menu__left p {
    font-size: 24px;
    line-height: 33px;
  }
  header .cap .cap__wrapper .middle-menu__right {
    margin-left: -300px;
    margin-top: 200px;
  }
  header .cap .cap__wrapper .middle-menu__right img {
    margin-left: 0;
    width: 482px;
    height: 482px;
  }
  main .scheme-block {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 41px;
    margin-top: 20px;
  }
  main .scheme-block .wrapper {
    width: auto;
  }
  .description-block .wrapper .main-text {
    font-family: Montserrat;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
  }
  .description-block .wrapper .second-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: center;
    text-align: center;
  }
  .description-block .wrapper .description-block__menu-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 36px;
    margin-top: 45px;
  }
  .description-block .wrapper .description-block__menu-card .card {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .description-block .wrapper .description-block__menu-card .card .card__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
  }
  .description-block .wrapper .description-block__menu-card .card .second-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
  }
  .price-block__menu {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
  .price-block .price-block__card {
    width: auto;
  }
  .price-block .price-block__card .price-block__card-unit-middle {
    margin-top: 0;
  }
  .price-block .price-block__card .price-block__card-unit-bottom {
    margin-top: 0;
  }
  .price-block .price-block__card .price-block__card-unit-bottom h1 {
    text-align: center;
  }
  .portfolio-block .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 84vw;
  }
  .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card {
    width: 84vw;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card .slaid-card__wrapper-elem {
    width: auto;
  }
  .portfolio-block .wrapper .portfolio-block__arrow-menu .unit .slaid-card__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
  }
  .portfolio-block .wrapper .portfolio-block__arrow-menu .unit .thin-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
  }
  .portfolio-block .wrapper .portfolio-block__arrow-menu div #rightArrow {
    margin-right: 0;
    margin-left: 22px;
  }
  .portfolio-block .wrapper .portfolio-block__arrow-menu div button {
    width: 50px;
    height: 50px;
  }
  .contacts-block .wrapper .contacts-block__feedback-menu .contacts-block__right-block .contacts-block__text-wrapper {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 480px) {
  header .cap {
    height: 683px;
  }
  header .cap .cap__wrapper .top-menu {
    width: 480px;
  }
  header .cap .cap__wrapper .top-menu__contacts {
    margin-left: 52px;
  }
  header .cap .cap__wrapper .top-menu__popup--button {
    margin-left: 35px;
  }
  header .cap .cap__wrapper .top-menu__popup--header a {
    margin-left: 50px;
    width: 200px;
    font-size: 40px;
    text-align: center;
  }
  header .cap .cap__wrapper .top-menu__popup--header a img {
    height: 48px;
    width: 200px;
  }
  header .cap .cap__wrapper .top-menu__popup--header button {
    margin-left: 5px;
    align-content: center;
  }
  header .cap .cap__wrapper .top-menu__popup--header button img {
    width: 36px;
    height: 36px;
  }
  header .cap .cap__wrapper .top-menu__popup--contacts {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 100px;
    gap: 18px;
  }
  header .cap .cap__wrapper .top-menu__popup--contacts img {
    width: 85px;
    height: 85px;
  }
  header .cap .cap__wrapper .middle-menu__left {
    width: 368px;
    font-size: 42px;
    margin-top: 21px;
    padding: 0;
    gap: 27.52px;
  }
  header .cap .cap__wrapper .middle-menu__left h1 img {
    position: absolute;
    left: 325px;
    top: 153px;
    width: 60px;
    height: 34px;
  }
  header .cap .cap__wrapper .middle-menu__left p {
    width: 367px;
    font-size: 20px;
    line-height: 27px;
  }
  header .cap .cap__wrapper .middle-menu__right img {
    width: 312px;
    height: 323px;
    margin-top: 238px;
    margin-left: 150px;
  }
  main .scheme-block {
    padding-bottom: 50px;
  }
  main .scheme-block .wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  main .scheme-block .wrapper .table .table__text {
    font-family: Montserrat;
    font-size: 28.77px;
    font-weight: 700;
    line-height: 35.07px;
    text-align: left;
    margin-top: 45px;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__left {
    padding-top: 4px;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__left img {
    height: 82%;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right {
    gap: 31px;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right div {
    margin: 0;
    height: auto;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right h1 {
    font-family: Montserrat;
    font-size: 23.97px;
    font-weight: 700;
    line-height: 29.22px;
    text-align: left;
  }
  main .portfolio-block .wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card {
    height: auto;
    width: 385px;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card img {
    height: auto;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .unit {
    width: 100%;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .unit .slaid-card__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .unit .thin-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .circle {
    display: none;
  }
  main .portfolio-block .wrapper .portfolio-block__arrow-menu #rightArrow {
    margin-left: 22px;
  }
  main .portfolio-block .wrapper .portfolio-block__arrow-menu #rightArrow img {
    margin-right: 0;
  }
  main .contacts-block {
    width: 100vw;
  }
  main .contacts-block .wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  main .contacts-block .wrapper .contacts-block__left-block {
    width: 385px;
  }
  main .contacts-block .wrapper .contacts-block__left-block .submit-button {
    width: 328px;
    height: 80px;
  }
  main .contacts-block .wrapper .contacts-block__right-block {
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper {
    margin-top: 17px;
    margin-left: 32px !important;
    margin-right: 32px !important;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper .contacts-block__contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    justify-content: center;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper .telegram-button {
    margin-top: 17px !important;
  }
  footer .footer {
    height: auto;
  }
  footer .wrapper .footer__top-menu {
    padding-top: 31px;
    display: block;
  }
  footer .wrapper .footer__top-menu .footer__frist--menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
  }
  footer .wrapper .footer__top-menu .footer__second--menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    gap: 31px 97px;
  }
  footer .wrapper .footer__top-menu .footer__second--menu div:nth-child(2) {
    order: 3;
  }
  footer .wrapper .footer__top-menu hr {
    margin-top: 25px;
  }
  footer .wrapper .footer__bottom-menu {
    display: block;
    margin-top: 32px;
    margin-bottom: 0;
    padding-bottom: 31px;
  }
}
@media screen and (max-width: 320px) {
  header .cap .cap__wrapper .top-menu__wrapper {
    margin-left: 0;
  }
  header .cap .cap__wrapper .top-menu__logotype {
    margin-left: 20px;
  }
  header .cap .cap__wrapper .top-menu__contacts {
    display: none;
  }
  header .cap .cap__wrapper .top-menu__popup--button {
    margin-left: -20px;
  }
  header .cap .cap__wrapper .middle-menu__left {
    margin-left: 0;
  }
  header .cap .cap__wrapper .middle-menu__left h1 {
    width: 250px;
    font-size: 31px;
    line-height: 35px;
  }
  header .cap .cap__wrapper .middle-menu__left h1 img {
    left: 220px;
    width: 45px;
    top: 130px;
  }
  header .cap .cap__wrapper .middle-menu__left p {
    font-size: 15px;
    line-height: 20px;
    width: 280px;
  }
  header .cap .cap__wrapper .middle-menu__left a {
    width: 230px;
    height: 59px;
  }
  header .cap .cap__wrapper .middle-menu__right img {
    width: 303px;
    height: 313x;
    margin-left: -60px;
    margin-top: 180px;
  }
  main .scheme-block {
    padding-bottom: 30px;
  }
  main .scheme-block .wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  main .scheme-block .wrapper .table .table__text {
    font-family: Montserrat;
    font-size: 21.05px;
    font-weight: 700;
    line-height: 25.66px;
    text-align: left;
    margin-top: 28px;
  }
  main .scheme-block .wrapper .table .table__wrapper {
    margin-top: 15px;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__left {
    padding-top: 4px;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__left img {
    height: 82%;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right {
    gap: 23px 0;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right div {
    margin: 0;
    height: auto;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right h1 {
    font-family: Montserrat;
    font-size: 17.54px;
    font-weight: 700;
    line-height: 21.38px;
    text-align: left;
  }
  main .scheme-block .wrapper .table .table__wrapper .table__right h2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    margin-top: 5px;
  }
  main .description-block {
    padding-top: 31px;
  }
  main .description-block .wrapper .main-text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
  }
  main .description-block .wrapper .second-text {
    margin-top: 21px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
  }
  main .description-block .wrapper .description-block__menu-card {
    margin-top: 51px;
    padding-bottom: 50px;
  }
  main .description-block .wrapper .description-block__menu-card .card h2 {
    margin-top: 0;
  }
  main .price-block {
    width: 87.5vw;
    margin-left: auto;
    margin-right: auto;
  }
  main .price-block .wrapper {
    width: 100%;
  }
  main .price-block .wrapper .price-block__menu {
    margin-left: auto;
    margin-right: auto;
  }
  main .price-block .wrapper .price-block__menu .price-block__card {
    width: 280px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-top h2 {
    font-size: 24px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-top .thin-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.41px;
    text-align: center;
    padding: 0 11px;
    margin-top: 28px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-middle {
    padding: 0 19px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-middle ul {
    margin-top: 25px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-middle ul li {
    margin-bottom: 17px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-middle ul li:last-child {
    margin-bottom: 21px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-bottom h1 {
    font-size: 27px;
  }
  main .price-block .wrapper .price-block__menu .price-block__card .price-block__card-unit-bottom a {
    width: 240px;
    height: 52px;
    font-family: Montserrat;
    font-size: 17.06px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: center;
  }
  main .portfolio-block .wrapper {
    width: 87.5vw;
    margin-left: auto;
    margin-right: auto;
  }
  main .portfolio-block .wrapper .main-text {
    text-align: center;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card {
    height: 314px;
    width: 280px;
    overflow: hidden;
    text-align: left;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card img {
    height: 185px;
    width: 378px;
    position: relative;
    left: -90px;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem {
    justify-content: center;
    padding: 0;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .unit {
    width: 100%;
    height: auto;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .unit .slaid-card__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .unit .thin-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }
  main .portfolio-block .wrapper .portfolio-block__slaid-menu .slaid-card__wrapper-elem .circle {
    display: none;
  }
  main .portfolio-block .wrapper .portfolio-block__arrow-menu #rightArrow img {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
  main .portfolio-block .wrapper .portfolio-block__arrow-menu #leftArrow img {
    width: 50px;
    height: 50px;
  }
  main .contacts-block {
    width: 100vw;
  }
  main .contacts-block .wrapper {
    width: 87.5vw;
    margin-left: auto;
    margin-right: auto;
  }
  main .contacts-block .wrapper .contacts-block__feedback-menu {
    gap: 30px;
  }
  main .contacts-block .wrapper .contacts-block__left-block {
    width: 87.5vw;
  }
  main .contacts-block .wrapper .contacts-block__left-block .main-text {
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 700;
    line-height: 32.91px;
    text-align: center;
    margin-bottom: 40px !important;
  }
  main .contacts-block .wrapper .contacts-block__left-block .submit-button {
    width: 87.5vw;
    height: 80px;
  }
  main .contacts-block .wrapper .contacts-block__left-block .input-feedback {
    height: 70px;
  }
  main .contacts-block .wrapper .contacts-block__left-block .input-feedback .chek-box-wrapper .normal-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: center;
  }
  main .contacts-block .wrapper .contacts-block__left-block .input-feedback .chek-box-wrapper .tg_text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.29px;
    text-align: left;
  }
  main .contacts-block .wrapper .contacts-block__right-block {
    text-align: center;
    height: auto;
    width: 87.5vw;
    padding-bottom: 15px;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__image-wrapper {
    height: 293px;
    width: auto;
    align-items: center;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__image-wrapper .contacts-block__image {
    width: 197px;
    height: 206px;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper {
    margin-top: 17px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper .contacts-block__contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    justify-content: center;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper .contacts-block__contact-wrapper a {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
  }
  main .contacts-block .wrapper .contacts-block__right-block .contacts-block__text-wrapper .contacts-block__contact-wrapper .telegram-button {
    margin-top: 0;
  }
  footer .footer {
    height: auto;
  }
  footer .wrapper .footer__top-menu {
    padding-top: 31px;
    display: block;
  }
  footer .wrapper .footer__top-menu .footer__frist--menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
  }
  footer .wrapper .footer__top-menu .footer__frist--menu a {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.72px;
    text-align: left;
  }
  footer .wrapper .footer__top-menu .footer__second--menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    gap: 31px 97px;
  }
  footer .wrapper .footer__top-menu .footer__second--menu .footer__text {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.72px;
    text-align: left;
  }
  footer .wrapper .footer__top-menu .footer__second--menu div:nth-child(1) {
    order: 2;
  }
  footer .wrapper .footer__top-menu .footer__second--menu div:nth-child(2) {
    order: 3;
  }
  footer .wrapper .footer__top-menu hr {
    margin-top: 25px;
  }
  footer .wrapper .footer__bottom-menu {
    display: block;
    margin-top: 32px;
    margin-bottom: 0;
    padding-bottom: 31px;
  }
  footer .wrapper .footer__bottom-menu .footer__info-text {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.72px;
    text-align: left;
  }
}
.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px) brightness(80%);
          backdrop-filter: blur(10px) brightness(80%);
  z-index: 10;
}
.popup__menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 620px;
  height: 320px;
  border-radius: 15px;
}
.popup__menu-flexwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
.popup__menu-flexwrapper-close {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 10px 10px 0 0;
}
.popup__menu-close-btn {
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.popup__menu-close-btn {
  cursor: default;
  transition: 0.2s;
}
.popup__menu-close-btn:hover {
  cursor: pointer;
  background-color: transparent;
}
.popup__menu-main-text {
  font-size: 40px;
  font-weight: 400;
}
.popup__menu-second-text {
  font-size: 14px;
  font-weight: 400;
}
.popup__menu-paperPlane-image {
  width: 28px;
  height: 28px;
  margin-left: 15px;
}

.select {
  position: relative;
  color: transparent;
  z-index: 4;
}
.select__header {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 60px;
  padding: 0 10px 0 20px;
}
.select__current {
  font-size: 0px;
}
.select__icon {
  transform: scaleX(2);
  display: flex;
  font-size: 12px;
  margin: 0 10px 0 5px;
  color: black;
}
.select__body {
  box-shadow: 1px 0px 15px rgb(124, 124, 124);
  display: none;
  left: 20px;
  position: absolute;
  right: 10px;
  top: 100%;
  background: white;
  border-radius: 20px;
}
.select__item {
  cursor: pointer;
  font-size: 0px;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.select__item:hover {
  background-color: #e0e0e0;
}

.select.is-active .select__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.select-typeofsite {
  position: relative;
  z-index: 3;
}
.select-typeofsite__header {
  border: 1px solid #ccc;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 60px;
  padding: 0 20px 0 20px;
}
.select-typeofsite__current {
  font-size: 20px;
  font-weight: 400;
}
.select-typeofsite__icon {
  transform: scaleX(2);
  display: flex;
  font-size: 12px;
  margin: 0 10px 0 5px;
  color: black;
}
.select-typeofsite__body {
  box-shadow: 1px 0px 15px rgb(124, 124, 124);
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border-radius: 20px;
}
.select-typeofsite__item {
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  padding: 8px;
  display: flex;
}
.select-typeofsite__item:hover {
  background-color: #e0e0e0;
}

.select-typeofsite.is-active .select-typeofsite__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.phone-wrapper {
  border-radius: 90px;
  border: 1px solid #c8c8c8;
}