@mixin shadowHover($time , $color , $px , $cursor) {
    &{
        transition: $time;
    }
    &:hover{
        cursor: $cursor;
        box-shadow: $px $color;
    }
}
@mixin ColorHover( $transition-time, $art , $color , $cursor) {
    &{
        cursor: default;
        transition: $transition-time;
    }
    &:hover{
        @if $art == 'col' {
            cursor: $cursor;
            color:  $color;
        }
        @if $art == 'bgcol'{
            cursor: $cursor;
            background-color: $color;
        }
    }
}
$dark-color:#1D1D1B;
$gray-color:#575757;
$light-blue: #2CDEF5;
$gray-blue : #5288C1;
$light-lime: #22D466;