// Пример того, как нужно делать медиа запросы без дублирования стилей
@media screen and (max-width: 1600px) {
    .portfolio-block {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-top: 45px;
        padding-bottom: 34px;
        height: auto;
        .wrapper {
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }
        &__slaid-menu {
            display: inline-flex;
            gap: 30px;
        }
        .slaid-card {
            width: 585px;
            height: 420px;
        }
        .FirstCard {
            order: 2;
        }
    }
}
@media screen and (max-width: 1440px) {
    header {
        .cap {
            .cap__wrapper {
                width: 83.3% !important;
            }
        }
    }
    .wrapper {
        margin-right: auto;
        overflow: hidden;
        width: 83.3vw;
        margin-left: auto;
    }
    .portfolio-block {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-top: 45px;
        padding-bottom: 34px;
        height: auto;
        .wrapper {
            margin-left: 148px;
            margin-right: auto;
            overflow: hidden;
            width: 83.3vw;
            margin-left: auto;
        }
        &__slaid-menu {
            display: inline-flex;
            gap: 30px;
        }
        .slaid-card {
            width: 585px;
            height: 420px;
        }
    }
    .FirstCard {
        order: 2;
    }
}
@media screen and (max-width: 1340px) {
    .cap .cap__wrapper .top-menu__navigation ul {
        gap: 15px;
    }
}
@media screen and (max-width: 1163px) {
    .cap .cap__wrapper .top-menu__wrapper {
        width: 85%;
    }
    .cap .cap__wrapper .top-menu__navigation ul {
        gap: 7px;
    }
}
@media screen and (max-width: 1100px) {
    .price-block .list li {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1024px) {
    header {
        .cap {
            overflow-x: hidden;
            .cap__wrapper {
                width: 84.37%;
                .top-menu {
                    &__wrapper {
                        width: 84.37%;
                    }
                    &__navigation {
                        ul {
                            li {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .middle-menu {
                    &__left {
                        width: 613px;
                        padding-top: 134px;
                        h1 {
                            font-size: 48px;
                        }
                    }
                    &__right {
                        img {
                            margin-top: 69px;
                        }
                    }
                }
            }
        }
    }
    //  ---------------MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN ------------------------------
    main {
        width: 1024px;
        .wrapper {
            margin: 0;
            width: 71vw;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .scheme-block {
        margin-top: 50px;
        padding-top: 0;
        padding-bottom: 54px;
        width: 84vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        img {
            height: 562px;
        }
    }

    .description-block {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-top: 43px;
        height: auto;
        .wrapper {
            width: 84vw;
            margin-right: auto;
            margin-left: auto;
            h1 {
                font-weight: 700;
                font-size: 36px;
                line-height: 43.88px;
                text-align: left;
            }
            h2 {
                font-size: 20px;
                font-weight: 400;
                line-height: 24.38px;
                text-align: left;
            }
        }
        &__menu-card {
            margin-top: 78px;
            padding-bottom: 65px;
            .card {
                img {
                    padding-left: 97px;
                }
                h1 {
                    font-weight: 700;
                    font-size: 24px;
                    text-align: center;
                    line-height: 29.26px;
                }
                h2 {
                    font-family: Montserrat;
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.5px;
                }
            }
        }
    }

    .price-block {
        width: 71vw;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding-top: 31px;
        padding-bottom: 31px;
        &__menu {
            width: 71vw;
            gap: 25px 60px;
            display: flex;
            flex-wrap: wrap;
        }
        &__card {
            flex: 1;
            margin: auto;
            max-width: 335px;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }
        .price-block__card-unit-top {
            text-align: center;
            margin-top: 37px;
        }
        .card-unit-name {
            text-align: center;
            font-weight: 700;
            line-height: 29.26px;
            font-size: 24px;
            margin-top: 37px;
        }
        .thin-text {
            font-family: Montserrat;
            font-weight: 400;
            line-height: 19.5px;
            text-align: center;
            font-size: 16px;
            padding: 0 52px;
            margin-top: 20px;
        }
        &__card-unit-middle {
            padding-left: 62px;
            height: auto;
            margin-bottom: 0;
            margin-top: 18px;
            .list {
                .list__element {
                    font-family: Montserrat;
                    font-size: 14.85px;
                    font-weight: 500;
                    line-height: 18.1px;
                    text-align: left;
                    color: rgba(87, 87, 87, 1);
                }
            }
        }
        &__card-unit-bottom {
            text-align: center;
            margin-top: 18px;
            padding-top: 0;
            h1 {
                font-family: Montserrat;
                font-size: 23.76px;
                font-weight: 700;
                line-height: 28.96px;
            }
            a {
                width: 240px;
                height: 44px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 19px;
            }
        }
    }

    .portfolio-block {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-top: 45px;
        padding-bottom: 34px;
        height: auto;
        .wrapper {
            overflow: hidden;
            margin: 0;
            width: 71vw;
            margin-right: auto;
            margin-left: auto;
        }
        &__slaid-menu {
            display: inline-flex;
            gap: 100px;
        }
        .slaid-card {
            width: 727px;
            height: 455px;
            .slaid-card__img {
                height: 311px;
            }
            &__text {
                font-weight: 700;
                font-size: 24px;
                text-align: left;
                line-height: 29.26px;
            }
            .thin-text {
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                line-height: 24.38px;
            }
            &__wrapper-elem {
                padding-top: 0;
                margin-top: 29px;
            }
        }
        &__arrow-menu {
            margin-top: 18px;
            #rightArrow {
                margin-right: 35px;
            }
        }
    }

    .contacts-block {
        width: 100vw;
        display: flex;
        justify-content: center;
        .wrapper {
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__feedback-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }
        .contacts-block__left-block {
            order: 2;
            flex: 1;
            margin: auto;
            width: 562px;
            text-align: center;
            button {
                margin-left: auto;
                margin-right: auto;
                width: 480px;
                height: 80px;
            }
        }
        .contacts-block__right-block {
            order: 1;
            width: 71vw;
            height: 808px;
            .contacts-block__image-wrapper {
                height: 400px;
            }
            .contacts-block__text-wrapper {
                width: auto;
                margin-left: 130px;
                margin-right: 130px;
            }
        }
    }
    // ------------------FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER ---------------------
    footer {
        width: 100%;
        .wrapper {
            width: 85.5%;
            margin-left: auto;
            margin-right: auto;
            hr {
                margin-top: 43px;
                margin-bottom: 0;
            }
        }
        .footer__top-menu {
            display: grid;
            grid-template-columns: repeat(1, auto);
            gap: 22px;
        }
        .footer__bottom-menu {
            padding-top: 0;
            margin-top: 45px;
            margin-bottom: 60px;
        }
    }
}
@media screen and (max-width: 998px) {
    header .cap .cap__wrapper .top-menu__navigation {
        display: none;
    }
    header .cap {
        height: 742px;
        overflow: hidden;
        .cap__wrapper {
            .top-menu {
                &__popup {
                    overflow: hidden;
                    &--header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 30px;
                        gap: 10px;
                        a {
                            width: 286px;
                            font-size: 40px;
                            text-align: center;
                            img {
                                width: 286px;
                                height: 48px;
                            }
                        }
                        button {
                            display: block;
                            background: none;
                            border: none;
                            transition: 0.2s;
                            img {
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                    &--navigation {
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        z-index: 200;
                        background-color: rgb(25, 25, 25);
                        ul {
                            display: grid;
                            gap: 11px;
                            margin-top: 60px;
                            li {
                                display: grid;
                                list-style-type: none;
                                justify-content: center;
                                a {
                                    text-decoration: none;
                                    color: white;
                                    text-align: center;
                                    font-size: 40.55px;
                                    transition: 0.2s;
                                    &:hover {
                                        color: #2cdef5;
                                    }
                                }
                            }
                        }
                    }
                    &--contacts {
                        display: flex;
                        justify-content: center;
                        justify-content: center;
                        gap: 9px;
                        margin-top: 80px;
                        img {
                            width: 65px;
                            height: 65px;
                            transition: 0.2s;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
            .middle-menu {
                &__left {
                    margin-top: 58px;
                    padding: 0;
                    h1 {
                        font-size: 46px;
                        line-height: 50px;
                    }
                    p {
                        font-size: 24px;
                        line-height: 33px;
                    }
                }
                &__right {
                    margin-left: -300px;
                    margin-top: 200px;
                    img {
                        margin-left: 0;
                        width: 482px;
                        height: 482px;
                    }
                }
            }
        }
    }
    #popup--button {
        display: block;
        background: none;
        border: none;
    }
    .top-menu__contacts {
        display: none;
        margin-left: auto;
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    main {
        .scheme-block {
            width: 85vw;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 41px;
            margin-top: 20px;
            .wrapper {
                width: auto;
            }
        }
        .scheme-block {
        }
    }
    .description-block {
        .wrapper {
            .main-text {
                font-family: Montserrat;
                text-align: center;
                font-size: 36px;
                font-weight: 700;
                line-height: 43.88px;
            }
            .second-text {
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 400;
                line-height: 24.38px;
                text-align: center;
                text-align: center;
            }
            .description-block__menu-card {
                display: flex;
                flex-wrap: wrap;
                row-gap: 36px;
                margin-top: 45px;
                .card {
                    width: 240px;
                    margin-left: auto;
                    margin-right: auto;
                    .card__text {
                        font-family: Montserrat;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29.26px;
                        text-align: center;
                    }
                    .second-text {
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.5px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .price-block {
        &__menu {
            display: grid;
            grid-template-columns: repeat(1, auto);
            justify-content: center;
        }
        .price-block__card {
            width: auto;
            .price-block__card-unit-top {
            }
            .thin-text {
            }
            .price-block__card-unit-middle {
                margin-top: 0;
                ul {
                    li {
                    }
                }
            }
            .price-block__card-unit-bottom {
                margin-top: 0;
                h1 {
                    text-align: center;
                }
            }
        }
    }

    .portfolio-block {
        .wrapper {
            margin-left: auto;
            margin-right: auto;
            width: 84vw;
            .main-text {
            }
            .portfolio-block__slaid-menu {
                .slaid-card {
                    width: 84vw;
                    margin-left: auto;
                    margin-right: auto;
                    .slaid-card__wrapper-elem {
                        width: auto;
                    }
                }
            }
            .portfolio-block__arrow-menu {
                .unit {
                    .slaid-card__text {
                        font-family: Montserrat;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29.26px;
                        text-align: left;
                    }
                    .thin-text {
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24.38px;
                        text-align: left;
                    }
                }
            }
            .portfolio-block__arrow-menu {
                div {
                    #rightArrow {
                        margin-right: 0;
                        margin-left: 22px;
                    }
                    button {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
    .contacts-block {
        .wrapper {
            .contacts-block__feedback-menu {
                .contacts-block__left-block {
                }
                .contacts-block__right-block {
                    .contacts-block__image-wrapper {
                    }
                    .contacts-block__text-wrapper {
                        margin-left: 60px;
                        margin-right: 60px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 683px) {
    .cap .cap__wrapper .middle-menu__left h1 img {
        padding-left: 12px;
    }
    header .cap .cap__wrapper .middle-menu__left h1 {
        font-size: 37px;
    }
    header .cap .cap__wrapper .middle-menu__left p {
        width: 80%;
    }
    header .cap .cap__wrapper .middle-menu__right img {
        margin-top: 179px;
    }
}
@media screen and (max-width: 558px) {
    header .cap .cap__wrapper .middle-menu__left h1 {
        width: 80%;
    }
    .scheme-block img {
        height: 642px;
    }
    .thin-text {
        font-size: 16px;
    }
    .scheme-block__roadmap .table__left {
        padding-top: 5px;
    }
}
@media screen and (max-width: 480px) {
    .cap .cap__wrapper .middle-menu__main-button {
        width: 260px;
    }
    header {
        .cap {
            height: 599px;
            .cap__wrapper {
                .top-menu {
                    &__contacts {
                        display: none;
                    }
                    &__popup--button {
                        margin-left: 35px;
                    }
                    &__popup {
                        display: none;
                        &--header {
                            margin-top: 30px;
                            gap: 10px;
                            flex-direction: column;
                            a {
                                width: 200px;
                                font-size: 40px;
                                text-align: center;
                                img {
                                    height: 48px;
                                    width: 200px;
                                }
                            }
                            button {
                                img {
                                    width: 36px;
                                    height: 36px;
                                }
                                margin-left: 5px;
                                align-content: center;
                            }
                        }
                        &--contacts {
                            display: flex;
                            justify-content: center;
                            gap: 28px;
                            margin-top: 100px;
                            gap: 18px;
                            img {
                                width: 65px;
                                height: 65px;
                            }
                        }
                    }
                }
                .middle-menu {
                    &__left {
                        width: 368px;
                        font-size: 42px;
                        margin-top: 40px;
                        padding: 0;
                        gap: 27.52px;
                        h1 {
                            img {
                                position: absolute;
                                left: 155px;
                                top: 270px;
                                width: 60px;
                                height: 34px;
                            }
                        }
                        p {
                            width: 367px;
                            font-size: 20px;
                            line-height: 27px;
                        }
                    }
                    &__right {
                        img {
                            width: 312px;
                            height: 323px;
                            margin-top: 238px;
                            margin-left: 150px;
                        }
                    }
                }
            }
        }
    }

    main {
        .scheme-block {
            padding-bottom: 50px;
            .wrapper {
                width: 80vw;
                margin-left: auto;
                margin-right: auto;
                .table {
                    .table__text {
                        font-family: Montserrat;
                        font-size: 28.77px;
                        font-weight: 700;
                        line-height: 35.07px;
                        text-align: left;
                        margin-top: 45px;
                    }
                    .table__wrapper {
                        .table__left {
                            padding-top: 4px;
                            img {
                                height: 82%;
                            }
                        }
                        .table__right {
                            gap: 31px;
                            div {
                                margin: 0;
                                height: auto;
                            }
                            h1 {
                                font-family: Montserrat;
                                font-size: 23.97px;
                                font-weight: 700;
                                line-height: 29.22px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .portfolio-block {
            .wrapper {
                width: 80vw;
                margin-left: auto;
                margin-right: auto;
                .portfolio-block__slaid-menu {
                    .slaid-card {
                        height: auto;
                        width: 385px;
                        img {
                            height: auto;
                        }
                    }
                    .slaid-card__wrapper-elem {
                        .unit {
                            width: 100%;
                            .slaid-card__text {
                                font-family: Montserrat;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 29.26px;
                                text-align: left;
                            }
                            .thin-text {
                                font-family: Montserrat;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19.5px;
                                text-align: left;
                            }
                        }
                        .circle {
                            display: none;
                        }
                    }
                }
                .portfolio-block__arrow-menu {
                    #rightArrow {
                        margin-left: 22px;
                        img {
                            margin-right: 0;
                        }
                    }
                    #leftArrow {
                    }
                }
            }
        }
        .contacts-block {
            width: 100vw;
            .wrapper {
                width: 80vw;
                margin-left: auto;
                margin-right: auto;
                .contacts-block__left-block {
                    width: 385px;
                    .submit-button {
                        width: 328px;
                        height: 80px;
                    }
                }
                .contacts-block__right-block {
                    text-align: center;
                    width: 100%;
                    height: auto;
                    padding-bottom: 30px;
                    .contacts-block__text-wrapper {
                        margin-top: 17px;
                        margin-left: 32px !important;
                        margin-right: 32px !important;
                        .contacts-block__contact-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 11px;
                            justify-content: center;
                        }
                        .telegram-button {
                            margin-top: 17px !important;
                        }
                    }
                }
            }
        }
        
    }

    footer {
        .footer {
            height: auto;
        }
        .wrapper {
            .footer__top-menu {
                padding-top: 31px;
                display: block;
                .footer__frist--menu {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: start;
                }
                .footer__second--menu {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 32px;
                    gap: 31px 97px;
                    div:nth-child(2) {
                        order: 3;
                    }
                }
                hr {
                    margin-top: 25px;
                }
            }
            .footer__bottom-menu {
                display: block;
                margin-top: 32px;
                margin-bottom: 0;
                padding-bottom: 31px;
            }
        }
    }
}
@media screen and (max-width: 407px) {
    header .cap .cap__wrapper .middle-menu__left p {
        width: 327px;
    }
    main {
        .wrapper {
            .contacts-block__feedback-menu {
                .contacts-block__left-block {
                    width: 80vw;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    header {
        .cap {
            .cap__wrapper {
                .top-menu {
                    &__wrapper {
                        margin-left: 0;
                    }
                    &__logotype {
                        margin-left: 20px;
                    }
                    &__contacts {
                        display: none;
                    }
                    &__popup--button {
                        margin-left: -20px;
                    }
                }
                .middle-menu {
                    &__left {
                        margin-left: 0;
                        h1 {
                            width: 250px;
                            font-size: 31px;
                            line-height: 35px;
                            img {
                                left: 120px;
                                width: 45px;
                                top: 217px;
                            }
                        }
                        p {
                            font-size: 15px;
                            line-height: 20px;
                            width: 280px;
                        }
                        a {
                            width: 230px;
                            height: 59px;
                        }
                    }
                    &__right {
                        img {
                            width: 303px;
                            height: 313x;
                            margin-left: -60px;
                            margin-top: 180px;
                        }
                    }
                }
            }
        }
    }
    main {
        .scheme-block {
            padding-bottom: 30px;
            .wrapper {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .table {
                    .table__text {
                        font-family: Montserrat;
                        font-size: 21.05px;
                        font-weight: 700;
                        line-height: 25.66px;
                        text-align: left;
                        margin-top: 28px;
                    }
                    .table__wrapper {
                        margin-top: 15px;
                        .table__left {
                            padding-top: 4px;
                            img {
                                height: 82%;
                            }
                        }
                        .table__right {
                            gap: 23px 0;
                            div {
                                margin: 0;
                                height: auto;
                            }
                            h1 {
                                font-family: Montserrat;
                                font-size: 17.54px;
                                font-weight: 700;
                                line-height: 21.38px;
                                text-align: left;
                            }
                            h2 {
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17.07px;
                                text-align: left;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        .description-block {
            padding-top: 31px;
            .wrapper {
                .main-text {
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29.26px;
                    text-align: left;
                }
                .second-text {
                    margin-top: 21px;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.5px;
                    text-align: center;
                }
                .description-block__menu-card {
                    margin-top: 51px;
                    padding-bottom: 50px;
                    .card {
                        h1 {
                        }
                        h2 {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        .price-block {
            width: 87.5vw;
            margin-left: auto;
            margin-right: auto;
            .wrapper {
                width: 100%;
                .price-block__menu {
                    margin-left: auto;
                    margin-right: auto;
                    .price-block__card {
                        width: 280px;
                        .price-block__card-unit-top {
                            h2 {
                                font-size: 24px;
                            }
                            .thin-text {
                                font-family: Montserrat;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 22.41px;
                                text-align: center;
                                padding: 0 11px;
                                margin-top: 28px;
                            }
                        }
                        .price-block__card-unit-middle {
                            padding: 0 19px;
                            ul {
                                margin-top: 25px;
                                li {
                                    margin-bottom: 17px;
                                }
                                li:last-child {
                                    margin-bottom: 21px;
                                }
                            }
                        }
                        .price-block__card-unit-bottom {
                            h1 {
                                font-size: 27px;
                            }
                            a {
                                width: 240px;
                                height: 52px;
                                font-family: Montserrat;
                                font-size: 17.06px;
                                font-weight: 500;
                                line-height: 20.8px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .portfolio-block {
            .wrapper {
                width: 87.5vw;
                margin-left: auto;
                margin-right: auto;
                .main-text {
                    text-align: center;
                }
                .portfolio-block__slaid-menu {
                    .slaid-card {
                        height: 314px;
                        width: 280px;
                        overflow: hidden;
                        text-align: left;
                        img {
                            height: 185px;
                            width: 378px;
                            position: relative;
                            left: -90px;
                        }
                    }
                    .slaid-card__wrapper-elem {
                        justify-content: center;
                        padding: 0;
                        .unit {
                            width: 100%;
                            height: auto;
                            .slaid-card__text {
                                font-family: Montserrat;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 29.26px;
                                text-align: center;
                            }
                            .thin-text {
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17.07px;
                                text-align: left;
                                margin-left: 20px;
                                margin-right: 20px;
                            }
                        }
                        .circle {
                            display: none;
                        }
                    }
                }
                .portfolio-block__arrow-menu {
                    #rightArrow {
                        img {
                            width: 50px;
                            height: 50px;
                            margin-left: 0;
                        }
                    }
                    #leftArrow {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }

        .contacts-block {
            width: 100vw;
            .wrapper {
                width: 87.5vw;
                margin-left: auto;
                margin-right: auto;
                .contacts-block__feedback-menu {
                    gap: 30px;
                }
                .contacts-block__left-block {
                    width: 87.5vw;
                    .main-text {
                        font-family: Montserrat;
                        font-size: 27px;
                        font-weight: 700;
                        line-height: 32.91px;
                        text-align: center;
                        margin-bottom: 40px !important;
                    }
                    .submit-button {
                        width: 87.5vw;
                        height: 80px;
                    }
                    .input-feedback {
                        height: 70px;
                        .chek-box-wrapper {
                            .normal-text {
                                font-family: Montserrat;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14.63px;
                                text-align: center;
                            }
                            .tg_text {
                                font-family: Montserrat;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 18.29px;
                                text-align: left;
                            }
                        }
                    }
                }
                .contacts-block__right-block {
                    text-align: center;
                    height: auto;
                    width: 87.5vw;
                    padding-bottom: 15px;
                    .contacts-block__image-wrapper {
                        height: 293px;
                        width: auto;
                        align-items: center;
                        .contacts-block__image {
                            width: 197px;
                            height: 206px;
                        }
                    }
                    .contacts-block__text-wrapper {
                        margin-top: 17px;
                        margin-left: 10px !important;
                        margin-right: 10px !important;

                        .contacts-block__contact-wrapper {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 11px;
                            justify-content: center;
                            margin-bottom: 25px;
                            a {
                                text-align: left;
                                font-size: 20px;
                                font-weight: 400;
                                line-height: 24.38px;
                            }
                            .telegram-button {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }  
    }
    footer {
        .footer {
            height: auto;
        }
        .wrapper {
            .footer__top-menu {
                padding-top: 31px;
                display: block;
                .footer__frist--menu {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: start;
                    a {
                        font-family: Montserrat;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 20.72px;
                        text-align: left;
                    }
                }
                .footer__second--menu {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 32px;
                    gap: 31px 97px;
                    .footer__text {
                        font-family: Montserrat;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 20.72px;
                        text-align: left;
                    }
                    div:nth-child(1) {
                        order: 2;
                    }

                    div:nth-child(2) {
                        order: 3;
                    }
                }

                hr {
                    margin-top: 25px;
                }
            }
            .footer__bottom-menu {
                display: block;
                margin-top: 32px;
                margin-bottom: 0;
                padding-bottom: 31px;
                .footer__info-text {
                    font-family: Montserrat;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 20.72px;
                    text-align: left;
                }
            }
        }
    }
}
